{% extends "base.html" %}
{% block title %} Пост {{ post.id }}{% endblock %}
{% block header %} Пост {{ post.id }}{% endblock %}

{% block content %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
        {% include "inclusions/author_info.html" with author=author %}
        </div>

        <div class="col-md-9">

            {% include "inclusions/post_item.html" with post=post %}

            {% include "inclusions/comments.html" with post=post %}

        </div>
    </div>
</main>

{% endblock %}
