{% extends "base.html" %}
{% block title %}Страница пользователя {{ author.username }}{% endblock %}
{% block header %}Страница пользователя {{ author.username }}{% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">

        {% include "inclusions/author_info.html" with author=author following=following %}

        <div class="col-md-9">

            {% for post in page %}

                {% include "inclusions/post_item.html" with post=post %}

            {% endfor %}

            {% include "inclusions/paginator.html" with page=page %}

        </div>
    </div>
</main>

{% endblock %}